body {
    background-color: darkgreen;
}
table {
    width: 1000px;
    margin-left: auto; 
    margin-right: auto;
    background-color: palegreen;

}
h2{ 
    color: darkgreen;

}
img {   
    display: block;
    margin: auto;
    border: 1px solid black;
}